<nav class="navbar navbar-expand-lg navbar-dark" id="main-nav">
  <div class="container">
    <a class="navbar-brand align-content-top" routerLink="/">Activity Feed</a>
    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
      <ul
        class="navbar-nav ml-auto d-flex align-content-middle"
        *ngIf="authState$ | async as auth"
        id="menu"
      >
        <li class="nav-item user-avatar d-flex align-self-center"  ngbDropdown>
          <span class="nav-link pointer text-primary" *ngIf="!auth.user?.picture && auth.user.name" ngbDropdownToggle>Hello, {{ auth.user.name }}</span>
              <img ngbDropdownToggle *ngIf="auth.user.picture"
              [src]="auth.user.picture"
              alt="User's profile picture"
              class="rounded-circle img-fluid profile-picture"
            />
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="logout()">Logout</button>
            </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
