.profile-picture {
  height: 40px;
  width: 40px;
}

#main-nav {
  background-image: linear-gradient(to right, #033626, #004d46, #00646c, #007a93, #3b8fba, #4e95c0, #5e9bc6, #6da1cb, #6799b4, #69909d, #6e8589, #737a7a);
}
