<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-inline new-comment-form justify-content-center">
    <input
      type="text"
      class="form-control form-control-sm col-md-10 col-12 new-comment-input"
      placeholder="Add a comment"
      #newComment="ngModel"
      [(ngModel)]="text"
      name="newComment"
      required
      [ngClass]="{ 'is-invalid': f.submitted && newComment.invalid }"
    />
    <div *ngIf="f.submitted && newComment.invalid" class="invalid-feedback">
      <div *ngIf="newComment.errors?.required">
        Write a comment before submitting.
      </div>
    </div>
  <button type="submit" class="btn btn-secondary btn-sm submit-new-comment">
    Comment
  </button>
</form>
