.jumbotron {
  background-image: url('./../../../../assets/hero_1.jpg');
  background-color: rgba(0, 0, 0, 0.6); /* use rgba for fine adjustments */
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
