<div class="jumbotron d-flex flex-column justify-content-center" id="signup-login">
  <h1 class="display-4 text-center text-white">Activity Feed</h1>
  <p class="lead text-center text-white">Signup or Login to continue.</p>
  <p class="lead d-flex justify-content-center">
    <activity-feed-login-button></activity-feed-login-button>
  </p>
  <hr class="my-4">
  <p class="text-center"><a href="https://github.com/TaylorAckley/ativity-feed" target="_blank">Source Code can be found on GitHub <fa-icon [icon]="faGithub"></fa-icon></a></p>
</div>
