form {
  background-image: url('./../../../../../assets/hero_2.jpg');
  background-color: rgba(0, 0, 0, 0.2); /* use rgba for fine adjustments */
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3em;
  border-radius: 5px;
}

.submit-new-post {
  font-weight: bold;
  border-width: 2px;
}
