<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-inline" id="new-post-form">
  <div class="form-group col-11">
    <input type="text" class="form-control col-12"
    placeholder="Got something on your mind?"
    required #newPost="ngModel" id="newpost"
    [(ngModel)]="text" name="newPost"
    [ngClass]="{ 'is-invalid': f.submitted && newPost.invalid }">
    <div *ngIf="f.submitted && newPost.invalid" class="invalid-feedback">
      <div *ngIf="newPost.errors?.required">Well this is awkward, you forgot to write something!</div>
  </div>
  </div>
  <button type="submit" class="btn btn-primary submit-new-post">Post</button>
</form>
